* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

html,
body {
  background-color: hsl(30deg, 38%, 92%);
  width: 100%;
  height: 100%;
  margin: 0;
}

img {
  display: block;
  height: auto;
  width: 100%;
}

h1 {
  font-family: Fraunces, serif;
}

.flex-col {
  display: flex;
  flex-direction: column;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.container {
  align-items: center;
  display: flex;
  justify-content: center;
  height: 100%;
  width: 100%;
  padding: 18px 18px 0px 18px;
}

.copy-margin {
  margin-top: 8px;
  margin-bottom: 8px;
}
@media (min-width: 900px) {
  .copy-margin {
    margin-top: 12px;
    margin-bottom: 12px;
  }
}

.product-type {
  font-family: Montserrat, sans-serif;
  font-size: 14px;
  letter-spacing: 4px;
  color: hsl(228deg, 12%, 48%);
}

.product-copy {
  font-family: Montserrat, sans-serif;
  font-size: 14px;
  line-height: 1.5;
  color: hsl(228deg, 12%, 48%);
}

.product-name {
  font-family: Fraunces, serif;
  font-size: 32px;
  line-height: 1;
}

.markdown-price {
  font-family: Fraunces, serif;
  color: hsl(158deg, 36%, 37%);
  font-size: 32px;
  margin: 0;
}

.original-price {
  margin-left: 16px;
  text-decoration: line-through;
  font-family: Montserrat, sans-serif;
  color: hsl(228deg, 12%, 48%);
}

.product-cta {
  color: white;
  font-family: Montserrat, sans-serif;
  font-weight: 700;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 12px;
  background-color: hsl(158deg, 36%, 37%);
  border-radius: 8px;
}
.product-cta .cta-icon {
  margin-right: 12px;
}
.product-cta:hover {
  background-color: #1a4031;
}

.product-card {
  max-width: 360px;
  position: relative;
  display: flex;
  flex-direction: column;
  border-radius: 4px;
}
@media (min-width: 900px) {
  .product-card {
    flex-direction: row;
    max-width: 600px;
  }
}
.product-card .product-img {
  width: 100%;
  overflow: hidden;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}
.product-card .product-img .image_mobile {
  display: block;
}
.product-card .product-img .image_desktop {
  display: none;
}
@media (min-width: 900px) {
  .product-card .product-img {
    border-top-left-radius: 8px;
    border-top-right-radius: 0px;
    border-bottom-left-radius: 8px;
    flex: 1 1 50%;
  }
  .product-card .product-img .image_mobile {
    display: none;
  }
  .product-card .product-img .image_desktop {
    display: block;
  }
}
.product-card .product-info {
  display: flex;
  flex-direction: column;
  background-color: hsl(0deg, 0%, 100%);
  padding: 32px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}
.product-card .product-info .lg-show {
  display: none;
}
@media (min-width: 900px) {
  .product-card .product-info {
    flex: 1 1 50%;
    padding: 30px;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    border-bottom-left-radius: 0px;
  }
  .product-card .product-info .lg-show {
    display: block;
  }
}
.product-card .product-price {
  display: flex;
  align-items: center;
}

footer .attribution {
  display: flex;
  width: 100%;
  justify-content: center;
}

/*# sourceMappingURL=styles.css.map */
