//font style variables
$font-card-copy: Overpass, sans-serif;
$font-size: 15px;

//color style variables
$color-body-bg: hsl(216, 12%, 8%);
$color-card-bg: hsl(213, 19%, 18%);

* {
  box-sizing: border-box;
}

html,
body {
  background-color: $color-body-bg;
  font-family: $font-card-copy;
}
